.gallery-wrap{
	width: 900px;
	margin: auto;
	border:1px solid red;
	overflow-x: auto;
}
img{
	vertical-align: top;
	/*margin:16px;*/
	margin-bottom: 5px;
	width: 205px;
}
.col{
	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
	height: 100%;
}