body{padding: 0;margin: 0;}
.team,
.member{
	background-color: white;
	border: 1px solid #999;
	float: left;
	box-sizing: border-box;
}
/*----------外包裹层-------*/
.wrap{
	margin: 20px;
	padding: 20px;
	border: 1px solid #999;
	background-color: #eee;
}
/*清除浮动*/
.wrap:after{
	content: "";
	display: block;
	clear: both;
}
/*--------团队介绍（中间）--------------*/
.main{
	width: 100%;
	float: left;
}
.main-content{
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
	border: 1px solid #999;
	background-color: white;
}
/*------团队logo及名称（左侧）----------*/
.team{
	padding: 20px;
	width: 200px;
	margin-left: -100%;
}
.team span{
	float: right;
	font-size: 18px;
}


/*------------个人logo(右侧)------------*/
.member{
	margin-left: -120px;
	width: 120px;
}
.member img{
	margin: 20px;
	display: block;  /*目的让外边距折叠*/
}

